<h1>@Model.GetName()</h1>
<ul>
  <li>Phone Number: @Model.GetNumber()</li>
  <li>Address: @Model.GetAddress()</li>
</ul>

<a href="/contacts/new">Add another Contact</a>
<a href="/contacts">View all Contacts</a>
