<h1>You crated a contact!</h1>
<h3>@Model.GetName()</h3>
<ul>
  <li>Phone Number: @Model.GetNumber()</li>
  <li>Address: @Model.GetAddress()</li>
</ul>
<a href="/contacts/new">Add another contact</a>
<a href="/contacts">View all contacts</a>
