<h1>Address Book:</h1>
<ul>
  @foreach (var contact in Model)
  {
    <li><a href="/contacts/@contact.GetId()">@contact.GetName()</a></li>
  }
</ul>
<form action="/contacts_cleared" method="post">
  <button type="submit" name="button">Clear all contacts</button>
</form>
<a href="/contacts/new">Add a new contact</a>
